#landing-section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;

  .intro-text {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 6vw;
    opacity: 0;
    line-height: 1;
    animation: appear-landing-text 1s ease-in-out 4s forwards;
    transform: translateY(-20px);
  }

  .pavel-word {
    display: inline-block;
    animation: appear-landing-text 1s ease-in-out 3s forwards !important;
  }
  .good-word {
    animation: appear-landing-text 1s ease-in-out 3.2s forwards;
  }
  .sites-word {
    animation: appear-landing-text 1s ease-in-out 3.4s forwards;
  }
  .apps-word {
    animation: appear-landing-text 1s ease-in-out 3.5s forwards;
  }

  #bounce-ball {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #333399;
    position: absolute;
    transform: translateY(-1000px);
    animation: bounce 1.2s ease-in-out forwards, explode 1s ease-in-out 1.2s forwards;
  }

  .swing-door-container {
    height: 100vh;
    width: 100%;
    display: none;
    top: 0px;
    left: 0px;
    position: absolute;

    .swing-door-left {
      animation: open-sesame-left 1s ease-in-out forwards;
      width: 50%;
      height: 100vh;
      position: absolute;
    }
    .swing-door-right {
      animation: open-sesame-right 1s ease-in-out forwards;
      width: 50%;
      height: 100vh;
      transform: translate(100%);
      position: absolute;
    }
  }

  #landing-loader-outer-circle {
    height: 400px;
    width: 400px;
    border-radius: 100%;
    border: 90px solid white;
    position: absolute;
  }
  .three {
    background-color: #333399;
  }
  .two {
    background-color: #8a2be2;
  }
  .one {
    background-color: #ee3153;
  }
  .swing-door-container div:nth-child(1) {
    animation-delay: 1s;
  }
  .swing-door-container div:nth-child(2) {
    animation-delay: 1s;
  }
  .swing-door-container div:nth-child(3) {
    animation-delay: 0.7s;
  }
  .swing-door-container div:nth-child(4) {
    animation-delay: 0.7s;
  }
  .swing-door-container div:nth-child(5) {
    animation-delay: 0.4s;
  }
  .swing-door-container div:nth-child(6) {
    animation-delay: 0.4s;
  }
}

@keyframes appear-landing-text {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes bounce {
  15% {
    transform: translateY(200px);
  }
  20% {
    transform: translateY(200px) rotateX(70deg);
  }
  40% {
    transform: translateY(-100px);
  }
  41% {
    transform: translateY(-110px);
  }
  42% {
    transform: translateY(-115px);
  }
  43% {
    transform: translateY(-120px);
  }
  44% {
    transform: translateY(-125px);
  }
  45% {
    transform: translateY(-130px);
  }
  46% {
    transform: translateY(-135px);
  }
  47% {
    transform: translateY(-140px);
  }
  48% {
    transform: translateY(-145px);
  }
  49% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(-155px);
  }
  51% {
    transform: translateY(-160px);
  }
  52% {
    transform: translateY(-165px);
  }
  54% {
    transform: translateY(-170px);
  }
  56% {
    transform: translateY(-175px);
  }
  58% {
    transform: translateY(-180px);
  }
  60% {
    transform: translateY(-183px);
  }
  62% {
    transform: translateY(-186px);
  }
  64% {
    transform: translateY(-189px);
  }
  66% {
    transform: translateY(-192px);
  }
  68% {
    transform: translateY(-195px);
  }
  70% {
    transform: translateY(-198px);
  }
  72% {
    transform: translateY(-201px);
  }
  74% {
    transform: translateY(-204px);
  }
  76% {
    transform: translateY(-207px);
  }
  78% {
    transform: translateY(-210px);
  }
  80% {
    transform: translateY(-213px);
  }
  82% {
    transform: translateY(-214px);
  }
  84% {
    transform: translateY(-215px);
  }
  86% {
    transform: translateY(-216px);
  }
  88% {
    transform: translateY(-217px);
  }
  90% {
    transform: translateY(-218px);
  }
  92% {
    transform: translateY(-219px);
  }
  94% {
    transform: translateY(-220px);
  }
  96% {
    transform: translateY(-221px);
  }
  98% {
    transform: translateY(-222px);
  }
  100% {
    transform: translateY(-223px);
  }
  // 100% {
  //   transform: translateY(0px) scale(100);
  // }
}
@keyframes explode {
  100% {
    transform: translateY(0px) scale(100);
  }
}
@keyframes open-sesame-left {
  100% {
    transform: translate(-110%);
  }
}
@keyframes open-sesame-right {
  100% {
    transform: translate(210%);
  }
}



@media (max-width: 750px) {
  .intro-text {
    font-size: 45px !important;
  }
}

@media (max-width: 600px) {
  .intro-text {
    font-size: 35px !important;
  }
}
