#landing-section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  //padding: 60px;
  display: flex;
  //flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
 
  .intro-text {
    font-family: "Rajdhani";
    opacity: 0;
    font-weight: 600;
    line-height: 1;
    transform: translateY(-20px);
    #idea-bulb {
      position: absolute;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      background-color: #ee3153;
      right: 19px;
      margin-top: -140px;
    }
  }

  #my-name {
    display: inline-block;
    font-size: 60px;
  }
  #my-title {
    font-size: 20px;
    margin-left: 2px;
    margin-bottom: 3px;
  }
#bounce-ball-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  #bounce-ball {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #3AA9B1;
    position: absolute;
    transform: translateY(-1000px);
    animation: bounce 1.2s ease-in-out forwards, explode 1s ease-in-out 1.2s forwards;
  }
}


  .swing-door-container {
    height: 100vh;
    width: 100%;
    display: none;
    top: 0px;
    left: 0px;
    position: absolute;

    .swing-door-left {
      animation: open-sesame-left 1s ease-in-out forwards;
      width: 50%;
      height: 100vh;
      position: absolute;
    }
    .swing-door-right {
      animation: open-sesame-right 1s ease-in-out forwards;
      width: 50%;
      height: 100vh;
      transform: translate(100%);
      position: absolute;
    }
  }


  .three {
    background-color: #3AA9B1;
  }
  .two {
    background-color: #34b8c2;
  }
  .one {
    background-color: #3bd0db;
  }
  .swing-door-container div:nth-child(1) {
    animation-delay: 1s;
  }
  .swing-door-container div:nth-child(2) {
    animation-delay: 1s;
  }
  .swing-door-container div:nth-child(3) {
    animation-delay: 0.7s;
  }
  .swing-door-container div:nth-child(4) {
    animation-delay: 0.7s;
  }
  .swing-door-container div:nth-child(5) {
    animation-delay: 0.4s;
  }
  .swing-door-container div:nth-child(6) {
    animation-delay: 0.4s;
  }
}

#landing-section-two {
  height: 100vh;
  width: 100%;
  // background-color: #3AA9B1;
  // margin-top: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  #landing-section-two-content-container {
    display: flex;
    #landing-section-two-list-1 {
      font-size: 50px;
      font-family: "Chathura";
      font-weight: bold;
      line-height: 60px;
      color: black;
      margin-top: 200px;
      margin-left: 50px;
      padding-right: 20px;
      list-style-type: none;
    }
    #landing-section-two-list-2 {
      font-size: 50px;
      line-height: 60px;
      font-family: "Chathura";
      font-weight: bold;
      color: black;
      margin-top: 200px;
      margin-left: 50px;
      padding-right: 20px;
      list-style-type: none;
    }

    #landing-section-two-text-1 {
      position: absolute;
      //margin-left: -50px;
      font-family: "Abril Fatface";
      font-size: 120px;
      color: #ee3153;
    }
    #landing-section-two-text-2 {
      position: absolute;
      //margin-left: -50px;
      font-family: "Abril Fatface";
      font-size: 120px;
      color: #ee3153;
      //text-shadow: 2px 2px 10px rgba(0,0,0,.8);
      //font-weight: bold;
    }

    #landing-section-two-image {
      height: 550px;
      width: 850px;
      //margin-left: 150px;
      border-radius: 10px;
    }
  }
}

.hide-landing-text {
  animation: disappear-landing-text 0.4s ease-in-out forwards;
}

.show-landing-text {
  animation: appear-landing-text 1s ease-in-out 4s forwards;
}

@keyframes slide-in-graffiti {
  100% {
    transform: translateX(0px);
  }
}
@keyframes appear-landing-text {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes disappear-landing-text {
  100% {
    opacity: 0;
  }
}

@keyframes bounce {
  15% {
    transform: translateY(200px);
  }
  20% {
    transform: translateY(200px) rotateX(70deg);
  }
  40% {
    transform: translateY(-100px);
  }
  41% {
    transform: translateY(-110px);
  }
  42% {
    transform: translateY(-115px);
  }
  43% {
    transform: translateY(-120px);
  }
  44% {
    transform: translateY(-125px);
  }
  45% {
    transform: translateY(-130px);
  }
  46% {
    transform: translateY(-135px);
  }
  47% {
    transform: translateY(-140px);
  }
  48% {
    transform: translateY(-145px);
  }
  49% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(-155px);
  }
  51% {
    transform: translateY(-160px);
  }
  52% {
    transform: translateY(-165px);
  }
  54% {
    transform: translateY(-170px);
  }
  56% {
    transform: translateY(-175px);
  }
  58% {
    transform: translateY(-180px);
  }
  60% {
    transform: translateY(-183px);
  }
  62% {
    transform: translateY(-186px);
  }
  64% {
    transform: translateY(-189px);
  }
  66% {
    transform: translateY(-192px);
  }
  68% {
    transform: translateY(-195px);
  }
  70% {
    transform: translateY(-198px);
  }
  72% {
    transform: translateY(-201px);
  }
  74% {
    transform: translateY(-204px);
  }
  76% {
    transform: translateY(-207px);
  }
  78% {
    transform: translateY(-210px);
  }
  80% {
    transform: translateY(-213px);
  }
  82% {
    transform: translateY(-214px);
  }
  84% {
    transform: translateY(-215px);
  }
  86% {
    transform: translateY(-216px);
  }
  88% {
    transform: translateY(-217px);
  }
  90% {
    transform: translateY(-218px);
  }
  92% {
    transform: translateY(-219px);
  }
  94% {
    transform: translateY(-220px);
  }
  96% {
    transform: translateY(-221px);
  }
  98% {
    transform: translateY(-222px);
  }
  100% {
    transform: translateY(-223px);
  }
}

@keyframes explode {
  100% {
    transform: translateY(0px) scale(100);
  }
}
@keyframes open-sesame-left {
  100% {
    transform: translate(-110%);
  }
}
@keyframes open-sesame-right {
  100% {
    transform: translate(210%);
  }
}

@media (max-width:600px) {
  .show-landing-text {
    animation: appear-landing-text 1s ease-in-out .7s forwards !important;
  }
  
}