#about-section {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  display: flex;
  overflow: hidden;

@media (max-width: 600px) {
  .about-slide-container {
    flex-direction: column;
    .about-image-container {
      width: 0%;
      height: 50% !important;
      animation: about-slide-width 0.6s ease-in-out forwards 0s !important;
      .about-slide-stage-two-image {
        height: 50% !important;
        width: 0%;
        animation: about-slide-width 0.6s ease-in-out forwards 1.3s !important;
      }
    }
    .about-text-container {
      width: 0%;
      height: 50% !important;
      background-color: #ee3153;
      animation: about-slide-width 0.6s ease-in-out forwards 0.3s !important;
      .about-slide-stage-two-text {
        animation: about-slide-width 0.6s ease-in-out forwards .9s !important;
        height: 50% !important;
        width: 0%;
      }
    }
  }
 
}
  .about-slide-container {
    height: 100vh;
    width: 100%;
    display: flex;
    top: 0px;
    left: 0px;
    position: absolute;
    .about-text-container {
      width: 50%;
      height: 0%;
      background-color: #ee3153;
      animation: about-slide 0.6s ease-in-out forwards 0.3s;
      .about-slide-stage-two-text {
        background-color: white;
        height: 0%;
        width: 50%;
        position: absolute;
        top: 0;
        animation: about-slide 0.6s ease-in-out forwards .9s;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        align-items: center;
        #name-title {
          font-size: 50px;
          font-family: "Rubik Mono One", sans-serif;
          color: #ee3153;
          width: 80%;
          padding: 20px;
          cursor: default;
        }
        .about-text-one {
          font-size: 25px !important;
        }
        .about-text-two {
          color: gray;
        }
        .about-text-three {
          color: gray;
        }
        .about-text-four {
          color: gray;
        }
        .about-text {
          padding: 20px;

          width: 80%;
          font-family: "Benne", serif;
          font-size: 20px;
        }
        #resume-button {
          border: none;
          background-color: rgba(0, 0, 0, 0);
          font-family: "Benne", serif;
          cursor: pointer;
          font-size: 20px;
          color: #ee3153;
        }
        #resume-button:hover {
          color: #8a2be2;
        }
      }
    }
    .about-image-container {
      width: 50%;
      height: 0%;
      background-color: #8a2be2;
      align-self: flex-end;
      animation: about-slide 0.6s ease-in-out forwards 0s;
      .about-slide-stage-two-image {
        background-image: url("/src/assets/portrait.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 0%;
        width: 50%;
        position: absolute;
        bottom: 0;
        animation: about-slide 0.6s ease-in-out forwards 1.3s;
        overflow: hidden;
      }
    }
  }
}

@keyframes about-slide {
  100% {
    height: 100%;
  }
}
@keyframes about-slide-width {
  100% {
    width: 100%;
  }
}
