#about-section {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  display: flex;
  /* overflow: hidden; */
  
}

.about-slide-container {
  height: 100vh;
  width: 100%;
  display: flex;
  top: 0px;
  left: 0px;
  position: absolute;
  overflow: hidden;

}
.about-image-container::-webkit-scrollbar {
  display: none;
}
.about-image-container {
  width: 50%;
  height: 0%;
  background-color: #8a2be2;
  align-self: flex-end;
  animation: about-slide 0.6s ease-in-out forwards 0s;

}
.about-slide-stage-two-image {
  background-image: url("/src/assets/me.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0%;
  width: 50%;
  position: absolute;
  bottom: 0;
  animation: about-slide 0.6s ease-in-out forwards 1.3s;
  overflow: hidden;
}
.about-text-container {
  width: 50%;
  height: 0%;
  background-color: #ee3153;
  animation: about-slide 0.6s ease-in-out forwards 0.3s;

}
.about-slide-stage-two-text {
  background-color: white;
  height: 0%;
  width: 50%;
  position: absolute;
  /*top: 0; */
  animation: about-slide 0.6s ease-in-out forwards .9s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;

}
#about-text-container-spaceholder {
  width: 50%;
  height: 100vh;
}
#name-title {
  font-size: 50px;
  font-family: "Rubik Mono One", sans-serif;
  color: #ee3153;
  width: 80%;
  padding: 20px;
  cursor: default;
}
.about-text-one {
  font-size: 25px !important;
}
.about-text-two {
  color: gray;
}
.about-text-three {
  color: gray;
}
.about-text-four {
  color: gray;
}
.about-text {
  padding: 20px;

  width: 80%;
  font-family: "Benne", serif;
  font-size: 20px;
}
#resume-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Benne", serif;
  cursor: pointer;
  font-size: 20px;
  color: #ee3153;
}
#resume-button:hover {
  color: #8a2be2;
}

@keyframes about-slide {
  100% {
    height: 100%;
  }
}
@keyframes about-slide-width {
  100% {
    width: 100%;
  }
}

@keyframes about-slide-translate {
  100% {
    transform: translateX(0px);
  }
}

@media (max-width:1050px) {
  #name-title {
    font-size: 40px !important;
  }
  .about-text {
    padding: 10px;
  
    width: 80%;
    font-family: "Benne", serif;
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .about-slide-container {
    flex-direction: column;  
  }
  .about-text-container {
    width: 0%;
    height: 50% !important;
    background-color: #ee3153;
    animation: about-slide-width 0.6s ease-in-out forwards 0.3s !important;
  }
  .about-slide-stage-two-text {
    height: unset;
    width: 100%;
    align-items: flex-start;
    padding-bottom: 30px;
    transform: translateX(-100%);
    animation: about-slide-translate 0.6s ease-in-out forwards .9s !important;
  }
  .about-image-container {
    width: 0%;
    height: 50% !important;
    animation: about-slide-width 0.6s ease-in-out forwards 0s !important;
  }
  .about-slide-stage-two-image {
    height: 50% !important;
    width: 100%;
    transform: translateX(100%);
    animation: about-slide-translate 0.6s ease-in-out forwards 1.3s !important;
    top: 0 !important;
    right: 0 !important;
  }
  #about-section {
    overflow:unset;
  }
  #resume-button {
    margin-left: 20px;
  }
  .about-text-one {
    font-size: 18px !important;
  }
  .about-text {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    font-family: "Benne", serif;
    font-size: 15px;
  }
  #name-title {
    font-size: 40px !important;
    padding: 15px !important;
  }
 
}
