#burder-menu-icon-container {
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  z-index: 101;
  top: 10px;
  right: 10px;
}
.burger-menu-icon-bar {
  background-color: #EE3153;
  margin:4px;
  height: 5px;
}
.bar-1 {
  width: 0%;
  border-radius: 2px;
  transition: all .3s ease-in-out;
  animation: slide-burger-menu .5s ease-in-out 3.5s forwards;

}
.bar-2 {
  width: 0%;
  border-radius: 2px;
  transition: all .3s ease-in-out;
  animation: slide-burger-menu .5s ease-in-out 3.7s forwards;
}

@keyframes slide-burger-menu {
  100% {
    width: 100%;
  }
}

.cross-top-bar {
  transform: rotateZ(-40deg) translateY(-5px);
  transform-origin: right top;
}
.cross-bottom-bar {
  transform: rotateZ(40deg) translateY(5px);
  transform-origin: right bottom;
}
@media (max-width: 600px) {
  .bar-1 {
    animation: slide-burger-menu .5s ease-in-out 1s forwards !important;
  
  }
  .bar-2 {
    animation: slide-burger-menu .5s ease-in-out 1s forwards !important;
  }
}