#contact-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  perspective: 1000px;
  #contact-form-sent-ani {
    position: absolute;
    width: 800px;
    height: 100px;
    //border-radius: 100%;
    background-color: #ee3153;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 30px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: rotateX(90deg) scale(0.7);
  }
  .contact-swing-door-container {
    height: 100vh;
    width: 100%;
    display: flex;
    top: 0px;
    left: 0px;
    position: absolute;
    .contact-swing-door-left {
      animation: close-sesame 1s ease-in-out forwards;
      width: 0%;
      height: 100vh;
      position: absolute;
      box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.2);
    }
    .contact-swing-door-right {
      animation: close-sesame 1s ease-in-out forwards;
      width: 0%;
      height: 100vh;
      right: 0;
      position: absolute;
      box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.2);
    }
    .contact-door-one {
      background-color: white//#E2E4DE;
    }
  }
  #contact-animation-two {
    width: 0%;
    height: 60vh;
    background-color: #ee3153;
    position: absolute;
    width: 0px;
    animation: expand-width 1s ease-in-out forwards 0.7s;
    display: flex;
    justify-content: center;
    #contact-animation-two-inner {
      width: 0%;
      height: 61vh;
      background-color: white;
      position: absolute;
      width: 0px;
      animation: expand-width-inner 1s ease-in-out forwards 1.5s;
    }
  }
  #contact-info-n-form {
    width: 60%;
    height: 60vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Benne", serif;
    animation: appear-contact 1s ease-out forwards 2.4s;
    transform: translateY(-10px);
    opacity: 0;
    #contact-info {
      width: 100%;
      justify-content: space-between;
      display: flex;
      #contact-email {
        #contact-email-title {
          color: #ee3153;
          opacity: 0.7;
          font-size: 25px;
        }
        #contact-email-text {
          font-size: 50px;
        }
      }
      #contact-phone {
        #contact-phone-title {
          color: #ee3153;
          opacity: 0.7;
          font-size: 25px;
        }
        #contact-phone-text {
          font-size: 50px;
        }
      }
    }
    #contact-form-container {
      width: 100%;
      height: 4vw;
      
      .contact-form-title {
        margin-bottom: 15px;
        font-size: 30px;
        opacity: 0;
        transform: translateY(-120%);
        position: absolute;
        margin-top: -40px;
        animation: slide-contact-form-title 0.4s ease-out 0.2s forwards;
      }

      .contact-form {
        width: 100%;
        border: none;
        border-bottom: 2px solid black;
        background-color: transparent;
        font-size: 30px;
        height: 50px;
        padding-left: 10px;
        padding-bottom: 0px !important;
        font-family: "Benne", serif;
        //position: absolute;
        outline: none;
      }
      .contact-form::placeholder {
        color: rgba(247, 11, 1, 0.5);
      }
      .contact-form-message {
        animation: expand-contact-form-message 0.4s ease-out forwards;
        height: 0vh;
        resize: none;
      }
      #contact-form:focus {
        outline: none;
      }
      #contact-form-arrow {
        position: absolute;
        height: 40px;
        width: 40px;
        opacity: 0.6;
        margin-top: -55px;
        right: -10px;
        transition: all 1s ease-out;
        cursor: pointer;
      }
      #contact-form-arrow:hover {
        transform: scale(1.2);
      }
      #contact-form-counter {
        position: absolute;
        right: -15px;
        opacity: 0.6;
        margin-top: 10px;
        font-size: 15px;
        font-family: Cerebri, Helvetica, Arial, sans-serif;
        letter-spacing: 10px;
      }
    }
  }
}
.sent-ani {
  animation: sent-ani 2s ease-in-out forwards;
}
.contactFormInputAni-exit {
  opacity: 1;
  transition: opacity 1000ms ease-out;
}

.contactFormInputAni-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-out;
}

@keyframes sent-ani {
  50% {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  100% {
   opacity: 0;
  }
}

@keyframes expand-contact-form-message {
  100% {
    height: 20vh;
  }
}
@keyframes slide-contact-form-title {
  100% {
    transform: translateY(0%);
    opacity: 0.6;
  }
}

@keyframes appear-contact {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes expand-width {
  100% {
    width: 70%;
  }
}
@keyframes expand-width-inner {
  100% {
    width: 101%;
  }
}

@keyframes expand-width-mobile {
  100% {
    width: 80%;
  }
}

@keyframes close-sesame {
  100% {
    width: 50%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
}

@media (max-width: 1500px) {
  #contact-email {
    #contact-email-title {
      font-size: 17px !important;
    }
    #contact-email-text {
      font-size: 35px !important;
    }
  }
  #contact-phone {
    #contact-phone-title {
      font-size: 17px !important;
    }
    #contact-phone-text {
      font-size: 35px !important;
    }
  }
}

@media (max-width: 1100px) {
  #contact-info-n-form {
    width: 80% !important;
    height: 80vh !important;
  }
  #contact-animation-two {
    animation: expand-width-mobile 1s ease-in-out forwards 0.7s !important;
  }
}

@media (max-width: 750px) {
  #contact-info {
    flex-direction: column;
  }
  #contact-phone {
    margin-top: 40px;
  }
  #contact-info-n-form {
    height: 45vh !important;
  }
}

@media (max-width: 600px) {
  #contact-email {
    #contact-email-title {
      font-size: 13px !important;
    }
    #contact-email-text {
      font-size: 25px !important;
    }
  }
  #contact-phone {
    #contact-phone-title {
      font-size: 13px !important;
    }
    #contact-phone-text {
      font-size: 25px !important;
    }
  }
  .contact-form-title {
    margin-bottom: 5px !important;
    margin-top: -15px !important;
    font-size: 20px !important;
  }
  .contact-form {
    font-size: 20px !important;
    height: 35px !important;
  }
}
