$accent: #ee3153;
#header {
  height: 80px;
  display: flex;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  transform: translateY(-100%);
  animation: slide-down 1s ease-out 3.2s forwards;
  #header-left {
    width: 50%;
    display: flex;
    .header-link-container {
      margin-left: 25px;
      margin-top: 25px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .header-link-ani {
        overflow:hidden;
        position: absolute;
        height: 4px;
        background-color: #ee3153;
        margin-top: 25px;
        width: 0%;
        font-size: 13px;
        color: white;
        font-family: Cerebri, Helvetica, Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        letter-spacing: 3px;
        //opacity: 0;
        transition: width .5s ease-out;
      }
    
  
      .header-link {
        font-family: Cerebri, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 13px;
        transition: color 0.3s ease-in;
        //color: #ee3153 !important;
        cursor: pointer;
        letter-spacing: 3px;
        color: #ee3153;
      }
      // .header-link-ani-2:hover {
      //   animation: flashing 1s ease-out infinite;;
      // }
     
      
    }
    .header-link-container:hover .header-link-ani {
      //animation: flashing .6s ease-out infinite;;
      width: 100% !important;
    }
    .header-link-container:hover .header-link-ani-2 {
      //animation: flashing-two .6s ease-out infinite;;
      width: 100% !important;
    }
   
  }
  #header-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    #header-icon-container {
      margin-top: 30px;
      margin-right: 25px;
      width: 180px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      .link-animation-container:hover .social-icon-face {
        transform: translateY(-30px);
        transition: all 0.3s ease-out;
      }
      .link-animation-container:hover .social-icon-bottom {
        transform: translateY(0px) translateX(-20px);
        transition: all 0.3s ease-out;
      }
      .link-animation-container {
        .header-social-icon-link {
          //position: absolute;
          cursor: pointer;
          display: inline-block;
          //right: 0;

          .header-social-icon {
            width: 20px;
            height: 20px;
          }
        }
      }
      .social-icon-face {
        transition: all 0.3s ease-out;
      }
      .social-icon-bottom {
        position: relative;
        display: inline-block;
        transform: translateY(30px) translateX(-20px);
        transition: all 0.3s ease-out;
      }
    }
  }
}

#header-mobile {
  #burger-menu-icon {
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 101;
    top: 10px;
    right: 10px;
  }
  #header-mobile-menu {
    width: 0%;
    height: 102vh;
    right: 0;
    position: fixed;
    background-color: #333399;
    transition: width 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    #header-mobile-links {
      font-family: Cerebri, Helvetica, Arial, sans-serif;
      font-weight: bold;
      color: white;
      font-size: 35px;
      height: 20vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: calc(100vh - 160px);
      transform: translateY(-10px);
      opacity: 0;
      //animation: appear-mobile-menu-links .4s ease-out .5s forwards;
      display: none;
      transition: opacity 0.4s ease-in-out;
      .header-mobile-link {
        margin-top: 20px;
      }
      #header-eye-icon {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 25px;
      }
      #header-eyeball-icon {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 25px;
        cursor: pointer;
      }
    }
    #header-mobile-social-links {
      align-self: flex-end;
      height: 130px;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      margin-right: 15px;
      margin-bottom: 15px;
      transform: translateY(-10px);
      opacity: 0;
      //animation: appear-mobile-menu-links .4s ease-out .5s forwards;
      display: none;
      transition: all 0.4s ease-in-out;
      .header-mobile-social-icon {
        width: 20px;
        height: 20px;
        margin: 12px;
      }
    }
  }
}


@keyframes flashing {
  20% {
    opacity: 1;
    transform: translateX(-2px);
  }
  40% {
    opacity: 1;
    transform: translateX(0px);
  }
  60% {
    opacity: 1;
    transform: translateX(-2px);
  }
  
  80% {
    opacity: 1;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes flashing-two {
  20% {
    opacity: 1;
    transform: translateX(1px);
  }
  40% {
    opacity: 1;
    transform: translateX(0px);
  }
  60% {
    opacity: 1;
    transform: translateY(-2px);
  }
  80% {
    opacity: 1;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide-down {
  100% {
    transform: translateY(0%);
  }
}
@keyframes dissappear-mobile-menu-links {
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@keyframes appear-mobile-menu-links {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media (max-width: 800px) {
  #header {
    display: none;
  }
}
@media (min-width: 801px) {
  #header-mobile {
    display: none;
  }
}
