#solutions-section {
  width: 100%;
  height: 100vh;
  //background-image: url('../../assets/solutions-bg.svg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  display: none;
  #solutions-section-middle-line {
    width: 0%;
    height: 4px;
    border-radius: 100%;
    background-color: rgba(238, 49, 83, 0.1);
    z-index: 10;
    opacity: 0;
    box-shadow: 0px 0px 10px 5px rgba(238, 49, 83, 0.5);
    animation: explode-line 1s ease-in-out forwards, dissapate 1.5s ease-out 1.5s forwards;
  }
  #solutions-section-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //border: 5px solid #EE3153;
    #solutions-text {
      position: absolute;
      font-weight: bold;
      font-size: 150px;
    }
    #video-container-1 {
      background-color: black;
      overflow: hidden;
      width: 100%;
      animation: slide 1s cubic-bezier(0.15, 0.85, 0.69, 1) forwards 1.4s;
      position: fixed;
      left: 0;
      height: 0vh;
      #video-1 {
        height: 100vh;
      }
    }
  }
 
}

.words {
  line-height: 1.5;
  text-shadow: 0 5px 5px rgba(238, 49, 83, 0);
  font-family: "Archivo Black", sans-serif;
}

.words span {
  transform: all 1s ease-out;
  color: rgba(238, 49, 83, 0);
  //font-size: 5rem;
  display: inline-block;
  animation: move 1s ease-in-out forwards;
}

.word-1 {
  margin-right: 20px;
}

.word-1 span:nth-child(1) {
  animation-delay: 2.6s;
}

.word-1 span:nth-child(2) {
  animation-delay: 2.8s;
}

.word-1 span:nth-child(3) {
  animation-delay: 3s;
}

.word-1 span:nth-child(4) {
  animation-delay: 3.2s;
}

.word-1 span:nth-child(5) {
  animation-delay: 3.4s;
}

.word-1 span:nth-child(6) {
  animation-delay: 3.6s;
}

.word-1 span:nth-child(7) {
  animation-delay: 3.8s;
}

.word-1 span:nth-child(8) {
  animation-delay: 4s;
}
.word-1 span:nth-child(9) {
  animation-delay: 4.2s;
}



@keyframes explode-line {

  20% {
    opacity: .6;
    height: 300px;
    width: 300px;
  }
  80% {
    opacity: .9;
    height: 8px;
    width: 8px;
  }
  100% {
    background-color: rgba(238, 49, 83, 1);
    width: 100%;
    opacity: 1;
  }
}

@keyframes dissapate {
  0% {
    background-color: rgba(238, 49, 83, 0.5);
  }
  99% {
    height: 10px;
    box-shadow: 0px 0px 20px 20px rgba(238, 49, 83, 0.7);
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
    
  }
}

@keyframes slide {
  100% {
    height: 100%;//calc(100vh - 80px);
  }
}

@keyframes move {
  50% {
    transform: translate(-10%, 0);
    text-shadow: 0 25px 20px rgba(238, 49, 83, 0.7);
  }
  100% {
    transform: translate(10%, 0);
    text-shadow: 0 5px 5px rgba(238, 49, 83, 0.7);

  }
}

