@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap&family=Rubik+Mono+One&display=swap&family=Josefin+Sans:wght@500&display=swap');
body {
  margin: 0px;
  padding: 0px;
  //overflow:hidden;
}
a {
  text-decoration: none;
}
a:active {
  color: inherit;
  text-decoration: none;
}
a:focus {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#333399;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EE3153;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8A2BE2;
}
body {
  scrollbar-width: 10px;
  /* Track */
  scrollbar-track-color:#333399;
  scrollbar-color: #EE3153;
  scrollbar-highlight-color: #8A2BE2;
  

}

.drop-exit {
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: opacity 2500ms ease-in-out;
}

.drop-exit-active {
  opacity: 0
}
.drop-enter {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
}

@media (max-width: 600px){
  ::-webkit-scrollbar {
    display: none !important;
  }
}