#project-vfa-comp {

  width: 100%;
  //animation: levitate-up .7s ease-out forwards;
  //z-index: 10;

  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  #project-vfa-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    height: 500px;
    width: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-image: url("/src/assets/kids-jumping.png");
    transition: all 0.4s ease-in-out;
    //border: 3px solid #CAE03D;
    #link-to-vfa {
      height: 100%;
      width: 100%;
    }
  }

  #project-vfa-title {
    font-size: 50px;
    color: white;
    font-family: Cerebri, Helvetica, Arial, sans-serif;
  }

  #project-vfa-container:hover {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }
}

@media (max-width: 1250px) {
  #project-vfa-container {
    width: 90% !important;
    height: 400px !important;
  }

  
}


@media (max-width: 700px) {
  #project-vfa-container {
    width: 90% !important;
    height: 300px !important;
  }
}

@media (max-width: 600px) {
  #project-vfa-container {
    width: 90% !important;
    height: 200px !important;
    border-radius: 5px !important;
  }
 
}
